<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="30px">

    <div fxFlex="30" fxFlex.lg="30" fxFlex.sm="40" *ngFor="let proyecto of proyectosPersonales">

        <mat-card class="my-animation-Proyectos" [class.mat-elevation-z8]="true">

            <mat-card-header>
        
                <mat-card-title>
                    <a href="{{ proyecto.routerLink }}" target="_blank">
                        <span>{{ proyecto.nombreProyecto }}</span>
                    </a>
                </mat-card-title>
        
                <mat-card-subtitle> {{ proyecto.descripcion }} </mat-card-subtitle>
        
            </mat-card-header>
        
            <img mat-card-image src="../../../../assets/img/{{proyecto.imglink}}" alt="No se encuentra la imagen">
        
            <mat-card-content>
                <p>
                    <strong>Lenguajes:</strong> {{ proyecto.lenguaje }}
                </p>
            </mat-card-content>
        
            <mat-card-actions>
                <button mat-button color="info">
                    <a href="{{proyecto.routerLink}}" target="_blank">
                        Ver proyecto...
                    </a>
                </button>
            </mat-card-actions>
        </mat-card>

    </div>

</div>

