span, h1, .scrolltext{
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 30ch;

    animation: typing 2s steps(30),
    blink .5s infinite step-end alternate;
    overflow: hidden;
    text-align: justify;
}

@keyframes typing {
    from { width: 0}
}

@keyframes blink {
    50% { border-color: transparent }
}

img{
    height: 60px;
    width: 60px;
}

p{
    text-align: justify;
}