<mat-card class="example-card">
    <mat-card-header>
        <img mat-card-avatar src="../../../../assets/img/programador.jpg" alt="programador">
        <mat-card-title><h1>Brandon Alexis Montoya Inzunza</h1></mat-card-title>
        <mat-card-subtitle>Desarrollador web</mat-card-subtitle>
    </mat-card-header>

    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
        <p>
            {{ descripcion }}
        </p>
    </mat-card-content>

    <mat-card-actions>
        <!-- <button mat-button>LIKE</button>
        <button mat-button>SHARE</button> -->
    </mat-card-actions>

</mat-card>

<br>
<hr>
<app-trabajos></app-trabajos>

<br>
<hr>
<app-proyectos></app-proyectos>

<br>
<br>
<br>
<br>
<hr>

<app-footer></app-footer>
