/* You can add global styles to this file, and also import other style files */

html, body { 
  height: 100%;   box-sizing: border-box;
  font-size: 62.5%; /* 1REM == 10px */
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

*, *:before, *:after{
  box-sizing: inherit;
}

.spacer {
    flex: 1 1 auto;
}

.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  /* Style the icon bar links */
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  /* Style the social media icons with color, if you want */
  .icon-bar a:hover {
    background-color: #000;
  }
  
  .facebook {
    background: #3B5998;
    color: white;
  }
  
  .twitter {
    background: #55ACEE;
    color: white;
  }
  
  .google {
    background: #dd4b39;
    color: white;
  }
  
  .linkedin {
    background: #007bb5;
    color: white;
  }
  
  .youtube {
    background: #bb0000;
    color: white;
  }

  .my-animation {
    display: inline-block;
    margin: 0 0.5rem;
  
    animation: pulse; 
    animation-duration: 2s; 
  }

  .my-animation-flip-imagen {
    display: inline-block;
    margin: 0 0.5rem;
  
    animation: flipInY ; 
    animation-duration: 2s; 
    /* border-radius: 100%; */
  }

.my-animation-Trabajos {
    display: inline-block;
    margin: 0 0.5rem;

    animation: flipInX; 
    animation-duration: 2s; 
}

.my-animation-Proyectos {
    display: inline-block;
    margin: 0 0.5rem;

    animation: lightSpeedInLeft; 
    animation-duration: 1s; 
}
